.App {
  text-align: center;
}

body{
  background-color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.top{
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 30vh;
  background-color: rgb(105, 105, 241);
  justify-content: space-between;
  justify-items: flex-end;
  align-content: center;
  z-index: 2;
  box-shadow: #61dafb;
}
.top-top{
  z-index: 2;
  border-bottom: #61dafb;
  max-height: 33vh;
  position: relative;
}
.nav, .login{
  display: grid;
  grid-template-columns: 50% 50%;

  background-color: rgb(105, 105, 241);
  width: 40%;
  align-items: center;
  
}
.login{
  text-align: right;
  width: 30%;
}
.nav{
  text-align: left;
}
.log-in, .sign-up{
  width: 50%;
  height: 70%;
  cursor: pointer;
  background-color: rgb(105, 105, 241);
  border: none;
  font-size: large;
}
li{
  text-decoration: none;
  list-style-type: none;
  text-underline-offset: none;
  color: black;
 
}

a{
  color: black;
  font-size: 2rem;
}

.fasteats{
  font-family: 'Lemon', serif;
}

.carouselimg{
  padding-top: 5%;
  width: 70%;
  height: 70vh;
  position: relative;
  
}




.search{
  position: absolute;
  width: 10em;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  z-index: 100;
  display: none;
  z-index: 100;
  border-color: blue;
}
.searching{
  position: absolute;
  bottom: 20%;
  

}
.form{
  border-color: blue;
}
.carousel-search{
  width: 100%;
  display: flex ;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  
  
}

.carousel-wrapping{
  height: 70vh;
  width: 100%;
  z-index: -1;
}
.wrapping{
  width: 90%;
  display: flex ;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.login-form{
  width: 90%;
  height: 70vh;
  color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  
  

}
.image_login{
  object-fit: fill;
  
  opacity: 0.2;
  z-index: -5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
 
}
.login-form-wrapperr{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  justify-items: center;
  
 
  
  
}

.login-fields{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  justify-items: center;
 

}

.css-13r4j3i .MuiTextField-root{
  width: 40vw !important;
}

.buttons{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.buttons_wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  justify-items: center;
}
.css-dgury2-MuiButtonBase-root-MuiButton-root, .css-lll1vm-MuiButtonBase-root-MuiButton-root{
  width: 15vw !important;
}
@media (max-width:737px) {
  .css-lll1vm-MuiButtonBase-root-MuiButton-root{
    font-size: 0.5em !important;
  }
}
@media (max-width: 426px ) {
  .css-lll1vm-MuiButtonBase-root-MuiButton-root{
    font-size: 0.2em !important;
  }
}

label[data-shrink=false]+.MuiInputBase-formControl .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  width: 20%;
}
.signup-cover{
  width: 50vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
}

.signup_button{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  transform: translate(-10%,0);
}